alias GIT='python2 $HOME/.zsh/git.py '

alias gc='git commit -s '
alias gs='git status'
alias gh='git rev-parse --verify HEAD'
alias gl="git log --graph \
    --pretty=format:'%Cred%h%Creset\
         -%C(yellow)%d%Creset %s %Cgreen(%cr)\
         %C(bold blue)<%an>%Creset'\
    --abbrev-commit --"


